body {
  background: #fdfefd;
}
.color_blue {
  color: #68BAEC;
}
.color_green {
  color: #009706;
}
.bg_blue {
  background: #68BAEC;
}
.bg_green {
  background: #009706;
}
.color_gray {
  color: #A8A8A8;
}
.bg_gray {
  background: #A8A8A8;
}
.width {
  width: 1200px;
  margin: 0 auto;
}
@font-face {
  font-family: 'iconfont';
  /* project id 218362 */
  src: url('//at.alicdn.com/t/font_ddh0kjxiof1aif6r.eot');
  src: url('//at.alicdn.com/t/font_ddh0kjxiof1aif6r.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_ddh0kjxiof1aif6r.woff') format('woff'), url('//at.alicdn.com/t/font_ddh0kjxiof1aif6r.ttf') format('truetype'), url('//at.alicdn.com/t/font_ddh0kjxiof1aif6r.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/*头部*/
#top {
  height: 184px;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}
#header {
  width: 100%;
  height: 80px;
  border-top: 4px solid #009706;
  background: #fff;
  box-shadow: 0px 4px 3px rgba(46, 146, 30, 0.2);
}
.logo {
  width: 291px;
  height: 64px;
  margin: 8px 0px;
}
.nav ul li {
  width: 120px;
  height: 80px;
  float: left;
  margin: 0px 10px;
}
.nav ul li a {
  display: block;
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #333;
  font-size: 20px;
}
.nav ul li.active,
.nav ul li:hover {
  background: url(../images/nav_bg.jpg) no-repeat;
}
.nav ul li.active a,
.nav ul li:hover a {
  color: #fff;
}
.accout-wrap {
  height: 80px;
  cursor: pointer;
  position: relative;
}
.accout-wrap span {
  width: 44px;
  height: 44px;
  overflow: hidden;
  border-radius: 50%;
  margin: 18px 10px;
}
.accout-wrap em {
  font-size: 14px;
  color: #666666;
  position: relative;
  padding-right: 34px ;
  top: 30px;
}
.accout-wrap em .iconfont {
  font-size: 12px;
  position: absolute;
  top: 2px;
  right: 10px;
  display: block;
  width: 14px;
  height: 14px;
}
.accout-wrap:hover {
  background: #22b34a;
}
.accout-wrap:hover em {
  color: #fff;
}
.accout-wrap:hover .account_none {
  display: block;
}
.accout-wrap .account_none {
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0;
  background: #22b34a;
  display: none;
  z-index: 999;
}
.accout-wrap .account_none a {
  display: block;
  width: 100%;
  height: 39px;
  line-height: 39px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.accout-wrap .account_none a:not(:first-child) {
  border-top: 1px solid #1D9A40;
}
.accout-wrap .account_none a:not(:last-child) {
  border-bottom: 1px solid #30D168;
}
.accout-wrap .account_none a:hover {
  background: #ffac31;
}
.header_bottom {
  height: 100px;
  width: 100%;
  background: url(../images/header_bg.jpg) no-repeat center top;
}
.ren {
  margin-top: 10px;
}
.ren dt {
  width: 80px;
  height: 80px;
  background: #bbd2f1;
  border-radius: 50%;
  overflow: hidden;
}
.ren dt img {
  width: 100%;
}
.ren dd {
  float: left;
  margin: 2px 0px 2px 15px;
}
.ren dd h1 {
  font-size: 20px;
  color: #009706;
  line-height: 45px;
  height: 45px;
}
.ren dd h2 {
  font-size: 16px;
  color: #666666;
  line-height: 31px;
}
.track_record {
  margin: 17px 0px;
}
.record_fl {
  display: block;
  float: left;
  padding: 0px 20px;
  border-right: 1px solid #F0F9F1;
  border-left: 1px solid #BBE2BD;
}
.record_fl:first-child {
  border-left: none;
}
.record_fl:last-child {
  border-right: none;
}
.record_fl h1 {
  font-size: 20px;
  color: #009706;
  line-height: 40px;
}
.record_fl h2 {
  font-size: 18px;
  color: #666666;
  line-height: 26px;
  text-align: center;
}
.secnav {
  margin-top: 56px;
  margin-left: 100px;
}
.secnav ul li {
  width: 120px;
  height: 44px;
  background: #009706;
  line-height: 44px;
  border-radius: 10px 10px 0px 0px;
  float: left;
  margin-left: 10px;
}
.secnav ul li a {
  display: block;
  width: 100%;
  height: 44px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.secnav ul li.active,
.secnav ul li:hover {
  background: #fff;
  box-shadow: 0px -4px 6px rgba(46, 146, 30, 0.14);
}
.secnav ul li.active a,
.secnav ul li:hover a {
  color: #009706;
}
#container {
  padding-top: 184px;
}
#container .content {
  box-shadow: 0px 0px 4px rgba(46, 146, 30, 0.4);
  padding: 10px 15px;
  min-height: 634px;
  background: #fff;
}
.content_left {
  width: 760px;
  box-shadow: 0px 0px 4px rgba(46, 146, 30, 0.4);
  border-radius: 4px;
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  min-height: 604px;
}
.content_right {
  width: 390px;
}
.title_nav {
  height: 38px;
  border-radius: 2px;
  border: 1px solid #EDEDED;
  padding: 0px 15px;
  line-height: 38px;
}
.title_nav .titlenav_left {
  font-size: 16px;
  color: #333;
}
.title_nav .titlenav_right span {
  font-size: 14px;
  color: #999999;
  float: left;
}
.title_nav .titlenav_right ul {
  float: left;
}
.title_nav .titlenav_right ul li {
  padding-left: 5px;
  color: #666666;
  font-size: 14px;
  float: left;
  cursor: pointer;
}
.title_nav .titlenav_right ul li:not(:first-child):before {
  content: '/';
  color: #333;
  margin-right: 5px;
}
.title_nav .titlenav_right ul li.selected {
  color: #009706;
}
.sort_nav {
  height: 44px;
  border-bottom: 1px solid #009706;
  margin-bottom: 10px;
}
.sort_nav a {
  height: 45px;
  padding: 0px 15px;
  display: inline-block;
  line-height: 45px;
  color: #333;
}
.sort_nav a:hover {
  background: url(../images/sanjiao.jpg) no-repeat center bottom;
}
.sort_nav a.selected {
  background: url(../images/sanjiao.jpg) no-repeat center bottom;
}
.search_toobar {
  padding: 10px 0px;
}
.search_toobar label {
  height: 35px;
  line-height: 35px;
  color: #666;
  display: inline-block;
}
.search_toobar .calendar {
  border: 1px solid #cccccc;
  border-radius: 2px;
  height: 31px;
  width: 90px;
  padding-left: 10px;
  color: #333;
}
.search_toobar .select {
  min-width: 100px;
  padding-left: 10px;
  color: #333;
  border: 1px solid #ccc;
  height: 35px;
  border-radius: 2px;
}
.search_toobar .text {
  border: 1px solid #cccccc;
  border-radius: 2px 0px 0px 2px;
  height: 31px;
  border-right: none;
  width: 110px;
  padding-left: 10px;
  color: #333;
}
.search_toobar .search {
  text-align: center;
  line-height: 33px;
  width: 40px;
  height: 33px;
  border-radius: 0px 2px 2px 0px;
  border: 1px solid #cccccc;
  border-left: none;
}
.search_toobar .search .iconfont {
  color: #009706;
  font-size: 20px;
}
.btn {
  height: 34px;
  min-width: 100px;
  padding: 0px 22px;
  color: #fff;
  border: none;
  background: #009706;
  border-radius: 4px ;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
}
.btna {
  height: 34px;
  min-width: 100px;
  padding: 0px 22px;
  color: #666666;
  border: none;
  border: 1px solid #CCCCCC;
  background: #e6e6e6;
  border-radius: 4px ;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
}
.table table {
  width: 100%;
}
.table table thead tr th {
  background: #e8f7ed;
  height: 40px;
  color: #333333;
  text-align: center;
  vertical-align: middle;
}
.table table thead tr th input[type=checkbox].table table tbody tr td input[type=checkbox] {
  width: 16px;
  height: 16px;
}
.table table tbody tr {
  background: #f6fcf8;
}
.table table tbody tr td {
  height: 39px;
  border-bottom: 1px solid #ededed;
  text-align: center;
  vertical-align: middle;
  color: #666666;
}
.table table tbody tr:nth-child(2n+1) {
  background: #fff;
}
.table table tbody tr:hover {
  background: #fcfbfc;
}
.operate {
  position: relative;
  min-width: 40px;
  display: inline-block;
  height: 22px;
  cursor: pointer;
}
.operate i {
  font-size: 20px;
}
.operate_none {
  position: absolute;
  font-size: 14px;
  min-width: 40px;
  height: 22px;
  line-height: 22px;
  color: #fff;
  bottom: 1px;
  left: 0;
  display: none;
}
.module {
  min-height: 230px;
  box-shadow: 0px 0px 4px rgba(46, 146, 30, 0.4);
  border-radius: 4px;
  background: #fff;
  padding: 5px 15px;
}
.module .title {
  height: 39px;
  border-bottom: 1px solid #E5EBEC;
  line-height: 39px;
  font-size: 18px;
  color: #333;
}
.module .lists li {
  line-height: 36px;
  height: 36px;
}
.module .lists li i {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  float: left;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  margin: 8px 10px 8px 0px;
}
.module .lists li .i1 {
  background: #ffac32;
  color: #fff;
}
.module .lists li .i2 {
  background: #fff;
  color: #ffac32;
  border: 1px solid #ffac32;
  width: 18px;
  height: 18px;
}
.module .lists li .i3 {
  background: #72c3f4;
  color: #fff;
}
.module .lists li .i4 {
  background: #fff;
  color: #72c3f4;
  border: 1px solid #72c3f4;
  width: 18px;
  height: 18px;
}
.module .lists li a {
  display: block;
  float: left;
  width: 330px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu {
  width: 218px;
  border-left: 1px solid #E5F4E6;
  border-right: 1px solid #E5F4E6;
  background: #fafffa;
  border-bottom: 1px solid #E5F4E6;
  min-height: 580px;
}
.menu .title {
  height: 40px;
  padding: 0px 10px;
  background: #009706;
  line-height: 40px;
  font-size: 17px;
  color: #fff;
}
.menu .title .iconfont {
  margin-right: 5px;
  font-size: 17px;
}
.menu .menu_lists li {
  line-height: 36px;
  padding: 0px 10px;
  font-size: 14px;
  color: #555555;
  cursor: pointer;
}
.menu .menu_lists li:hover,
.menu .menu_lists li.selected {
  background: #fff;
  border-left: 2px solid #ffac32;
}
.menu .new {
  width: 150px;
  height: 34px;
  border-radius: 4px;
  background: #ffac32;
  line-height: 34px;
  text-align: center;
  border: none;
  font-size: 14px;
  color: #fff;
  display: block;
  margin: 20px auto 0px auto;
  cursor: pointer;
}
.sort_right {
  width: 930px;
}
/*footer*/
#footer {
  width: 100%;
  background: #6F6F6F;
  height: 90px;
}
.footer_left {
  padding: 16px 0px;
}
.footer_left img {
  width: 58px;
  height: 58px;
  float: left;
  display: block;
  margin-right: 10px;
}
.footer_left p {
  line-height: 24px;
  font-size: 14px;
  color: #fff;
  text-align: left;
  float: left;
  margin: 5px 0px;
}
.footer_right {
  padding: 21px 0px;
}
.footer_right p {
  line-height: 24px;
  font-size: 14px;
  color: #fff;
  text-align: right;
}
.main {
  margin: 20px 20px 50px 20px;
  background: #fff;
  border: 1px solid #EDEDED;
  padding: 20px;
  min-height: 145px;
}
.w50 {
  width: 50%;
}
.input-wrap {
  font-size: 14px;
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}
.input-wrap span {
  float: left;
  text-align: left;
  line-height: 33px;
}
.laytitle {
  margin: 10px 0px;
  line-height: 35px;
  font-size: 17px;
  color: #333;
  text-align: center;
}
.laylists li {
  line-height: 30px;
  font-size: 15px;
  color: #444;
}
.input-wrap label {
  display: inline-block;
  min-width: 100px;
  height: 35px;
  text-align: left;
  font-size: 15px;
  color: #555;
  float: left;
  line-height: 35px;
}
.input-wrap .text {
  width: 250px;
  height: 31px;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  float: left;
  margin-left: 10px;
  text-indent: 10px;
  display: inline-block;
  outline: none;
}
.input-wrap .select {
  width: 250px;
  height: 35px;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  float: left;
  margin-left: 10px;
  text-indent: 10px;
  display: inline-block;
  outline: none;
}
.input-wrap .btn {
  margin: 0 auto;
  height: 40px;
  padding: 0px 40px;
}
.info,
.safe {
  display: none;
  margin-left: 40px;
  width: 147px;
  height: 25px;
  background: url(../images/info.gif) no-repeat;
  position: absolute;
  left: 300px;
  top: 2px;
  color: #666;
  padding: 5px 0 0 40px;
  border-right: 1px solid #B9E3FF;
}
.pass_put {
  height: 60px;
  line-height: 26px;
}
.info_error {
  display: none;
  width: 147px;
  height: 25px;
  margin-left: 40px;
  background: url(../images/info.gif) no-repeat 0 -190px;
  position: absolute;
  left: 300px;
  top: 2px;
  color: red;
  padding: 5px 0 0 40px;
  border-right: 1px solid #FFC7C7;
}
.info p,
.safe p {
  width: 182px;
  height: 1px;
  background: #B9E3FF;
  position: absolute;
  left: 5px;
  top: 29px;
}
.info_error p {
  width: 182px;
  height: 1px;
  background: #FFC7C7;
  position: absolute;
  left: 5px;
  top: 29px;
}
.pass_put p {
  top: 53px;
}
.safe .s {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  background: #ccc;
}
.ok {
  display: none;
  width: 20px;
  height: 20px;
  background: url(../images/ok.gif) no-repeat;
  position: absolute;
  left: 302px;
  top: 29px;
}
.word {
  margin-left: 5px;
  color: #000;
}
.btnwrap {
  padding: 8px 0px;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 999;
  background: #fdfefd;
}
.page {
  text-align: center;
  width: 100%;
  padding: 20px;
}
.page a {
  display: inline-block;
  padding: 6px 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 0px 3px;
  color: #555;
}
.page a.now {
  text-decoration: underline;
  color: #009706;
}
.page a:hover {
  color: #009706;
}
.menu_list li {
  line-height: 36px;
  font-size: 14px;
  color: #555555;
  cursor: pointer;
}
.menu_list li span {
  display: block;
  padding: 0px 10px;
  border-bottom: 1px solid #EDEDED;
  border-top: 1px solid #EDEDED;
}
.menu_list li span .iconfont {
  float: right;
  font-size: 12px;
  color: #666666;
}
.menu_list li span.selected .iconfont {
  transform: rotate(180deg);
}
.menu_list li ul {
  display: none;
}
.menu_list li ul li {
  padding: 0px 10px 0px 30px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu_list li ul li:hover,
.menu_list li ul li.selected {
  background: #fff;
  border-left: 2px solid #ffac32;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
}
.selectwrap {
  margin: 10px 20px 0px 20px;
  border: 2px solid #009706;
  background: #fff;
  padding: 0px 10px;
}
.selectwrap .cursele {
  font-size: 16px;
  color: #009706;
  line-height: 60px;
}
.option_lists {
  padding-left: 110px;
}
.option_lists li {
  margin-top: 10px;
  height: 35px;
}
.option_lists li .radio {
  width: 16px;
  height: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  display: block;
  float: left;
  margin-top: 8px;
}
.newoption {
  color: #009706;
  display: block;
  text-align: left;
  height: 20px;
  line-height: 20px;
  padding-left: 110px;
  margin: 10px 0px;
}
.newoption .iconfont {
  font-size: 18px;
  margin-right: 10px;
}
.table_header {
  background: #E7F7ED;
  height: 40px;
  line-height: 40px;
}
.table_header span {
  display: block;
  float: left;
  color: #333;
  text-align: center;
}
.eval_lists li {
  margin-top: 10px;
  border: 1px solid #DCDCDC;
  background: #fff;
}
.eval_lists li dt {
  height: 36px;
}
.eval_lists li dt em {
  display: block;
  float: left;
  color: #666666;
  line-height: 36px;
  text-align: center;
}
.eval_lists li dt em .operate .iconfont {
  width: 20px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
}
.eval_lists li dt .tableoperate {
  margin: 7px 0px;
  line-height: 22px;
}
.eval_lists li dt .toggle {
  cursor: pointer;
}
.eval_lists li dt .toggle .iconfont {
  color: #009706;
  width: 16px;
  line-height: 36px;
  display: inline-block;
}
.eval_lists li dd {
  display: none;
}
.eval_lists li dd .course_header {
  background: #f5f5f5;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}
.eval_lists li dd .course_header span {
  height: 30px;
  float: left;
  text-align: left;
  padding-left: 30px;
  box-sizing: border-box;
  line-height: 30px;
  color: #666666;
}
.eval_lists li dd .course_body div span {
  height: 30px;
  float: left;
  text-align: left;
  padding-left: 30px;
  box-sizing: border-box;
  line-height: 30px;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.eval_lists li:nth-child(2n+1) {
  border: 1px solid #90D9A4;
  background: #f6fcf8;
}
.eval_lists li.active dt .toggle .iconfont {
  transform: rotate(180deg);
}
.inputtable {
  width: 540px;
}
.inputtable tr td {
  border: 1px solid #009706;
  vertical-align: middle;
  padding: 10px 0px;
  text-align: center;
}
.inputtable tr td .select {
  float: none;
}
.tableheader .tablename {
  font-size: 18px;
  color: #333;
  height: 40px;
  text-align: center;
  margin-top: 10px;
}
.tableheader .evalmes {
  text-align: center;
}
.tableheader .evalmes span {
  font-size: 14px;
  color: #666666;
}
.tableheader .evalmes span:not(:first-child) {
  margin-left: 40px;
}
.title_ti {
  height: 45px;
  margin-top: 10px;
  line-height: 45px;
  font-size: 16px;
  color: #333;
}
.statable {
  border: 1px solid #EDEDED;
  width: 100%;
}
.statable thead tr th {
  height: 44px;
  background: #e8f7ed;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  color: #333;
}
.statable tbody tr td {
  height: 40px;
  vertical-align: middle;
  border: 1px solid #EDEDED;
  text-align: center;
  font-size: 14px;
  color: #333;
}
.statable tbody tr td.nothave {
  background: #e5e5e5;
}
.objective_lists li {
  border: 1px solid #009706;
  border-top-width: 2px;
  margin-bottom: 10px;
}
.objective_lists li dt {
  height: 40px;
  position: relative;
  line-height: 40px;
  padding-left: 10px;
}
.objective_lists li dt .objective_name {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}
.objective_lists li dt .toggle {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: 0px;
  text-align: center;
  color: #009706;
  cursor: pointer;
}
.objective_lists li dd {
  padding: 0px 10px;
  display: none;
}
.objective_lists li dd .page {
  padding: 10px;
  width: auto;
}
.objective_lists li dd .lists_row {
  min-height: 54px ;
  padding: 8px 0px;
  position: relative;
}
.objective_lists li dd .lists_row .img {
  width: 54px;
  height: 54px;
  float: left;
  position: absolute;
  left: 0;
  top: 8px;
  cursor: pointer;
}
.objective_lists li dd .lists_row span {
  font-size: 14px;
  color: #333;
  line-height: 25px;
  display: inline-block;
  padding-left: 70px;
}
.objective_lists li dd .lists_row span b {
  font-size: 12px;
  color: #999;
}
.objective_lists li dd .lists_row:not(:last-child) {
  border-bottom: 1px solid #EDEDED;
}
.objective_lists li.active dt .toggle {
  transform: rotate(180deg);
}
#backtop {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  background: #70c4f7;
  text-align: center;
  line-height: 60px;
  position: fixed;
  top: 50%;
  margin-top: -30px;
  margin-left: 1220px;
  cursor: pointer;
}
#backtop .iconfont {
  font-size: 36px;
  color: #fff;
}
.invest {
  color: #eba714;
}
.completed {
  color: #e22222;
}
.evaltable_left {
  width: 100%;
  padding-right: 110px;
  box-sizing: border-box;
}
.evaltable_left .search_toobar {
  padding: 10px 0px 0px 0px;
}
.evaltable_left .search_toobar div {
  padding-bottom: 10px;
}
.add {
  position: absolute;
  right: 10px;
  top: 10px;
}
.evalheader .all {
  width: 106px;
  height: 36px;
  border: 1px solid #009706;
  color: #009706;
  text-align: center;
  line-height: 36px;
}
.evalheader .all .iconfont {
  font-size: 18px;
}
.evalheader .evalheader_right .total {
  font-size: 16px;
  color: #666666;
  margin-right: 35px;
  line-height: 34px;
}
.evalheader .evalheader_right .total span {
  color: #009706;
}
.eval_list li {
  padding: 10px 40px 10px 0px;
  position: relative;
  border-bottom: 1px solid #EDEDED;
}
.eval_list li .title {
  line-height: 40px;
  font-size: 14px;
  color: #333;
}
.eval_list li .title span {
  color: #666666;
}
.eval_list li .number {
  width: 50px;
  height: 30px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin: 0px 10px;
  text-indent: 10px;
  color: #009706;
}
.eval_list li p {
  line-height: 40px;
  font-size: 14px;
  color: #666666;
}
.eval_list li p .radio {
  width: 16px;
  height: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  display: block;
  float: left;
  margin-top: 11px;
  margin-right: 10px;
}
.eval_list li p span {
  min-width: 100px;
  display: inline-block;
}
.eval_list li p .checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #dcdcdc;
  display: block;
  float: left;
  margin-top: 11px;
  margin-right: 10px;
}
.eval_list li .iconfont {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #009706;
  position: absolute;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
}
.btnwrap span {
  color: #009706;
  cursor: pointer;
}
.test_lists ul li {
  padding: 10px 90px 10px 0px;
  border-bottom: 1px solid #EDEDED;
  position: relative;
}
.test_lists ul li .title {
  font-size: 14px;
  color: #333;
  line-height: 40px;
}
.test_lists ul li .title span {
  color: #666666;
}
.test_lists ul li .test_desc {
  line-height: 40px;
}
.test_lists ul li .test_desc span {
  font-size: 14px;
  color: #333;
  overflow: hidden;
}
.test_lists ul li .test_desc span input {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
.test_lists ul li .test_desc span b {
  color: #666666;
  margin-left: 5px;
}
.test_lists ul li .test_desc span:not(:first-child) {
  margin-left: 25px;
}
.test_lists ul li .test_desc textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 100px;
  width: 96%;
  padding: 10px;
  line-height: 20px;
  color: #333;
  font-size: 14px;
}
.test_lists ul li .operates {
  overflow: hidden;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 90px;
}
.test_lists ul li .operates .iconfont {
  width: 30px;
  height: 30px;
  float: left;
  display: inline-block;
  line-height: 100%;
  text-align: center;
  font-size: 22px;
  line-height: 35px;
}
.row_content {
  padding-left: 112px;
}
.row_content span {
  margin-right: 20px;
}
.row_content span input[type=checkbox] {
  width: 18px;
  height: 18px;
  display: block;
  float: left;
  margin-top: 8px;
}
.code img {
  width: 100%;
}
